.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.search-container {
  background-color: #f1f5f9;
  width: 250px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 10px;
}
.user-search {
  border: none;
  width: 230px;
  background-color: transparent;
  outline: none;
  height: 35px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 15px;
}
.category-heading {
  font-size: 25px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.category-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.category-items {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  color: #64748b;
}
.rating-btn {
  background-color: transparent;
  border: none;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.rating-img {
  height: 30px;
  margin-right: 10px;
}
.clear-filter-btn {
  margin: 20px;
  margin-top: 40px;
  height: 40px;
  width: 130px;
  font-size: 16px;
  border: 2px solid #0967d2;
  background-color: transparent;
  color: #0967d2;
  font-weight: bold;
  cursor: pointer;
}
